<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- include favicons.html -%}
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {%- feed_meta -%}
  {%- if site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}
  <meta name="msvalidate.01" content="6E4967779B4AEDA32B1DB71BE7BC46ED" />
  <meta name="yandex-verification" content="24df2dc6bd71c651" />
  <meta name="google-site-verification" content="waMgfTeaI2pdL4MjNGhq0w-qcwAHeB_6z_2ADUa0v7Y" />
</head>
