---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        {%- assign words = post.content | number_of_words -%}
        {%- assign mins = words | divided_by: 200 -%}
        {%- if mins < 1 %}{% assign mins = 1 %}{% endif -%}
        <span class="post-meta">{{ post.date | date: date_format }} &middot; {{ mins }} min read</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page" aria-label="Previous page">&laquo;</a></li>
        {%- else %}
          <li><div class="pager-edge">&laquo;</div></li>
        {%- endif %}

        {%- for page_num in (1..paginator.total_pages) %}
          {%- if page_num == paginator.page %}
            <li><div class="current-page">{{ page_num }}</div></li>
          {%- elsif page_num == 1 %}
            <li><a href="{{ '/' | relative_url }}">{{ page_num }}</a></li>
          {%- else %}
            <li><a href="{{ site.paginate_path | relative_url | replace: ':num', page_num }}">{{ page_num }}</a></li>
          {%- endif %}
        {%- endfor %}

        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page" aria-label="Next page">&raquo;</a></li>
        {%- else %}
          <li><div class="pager-edge">&raquo;</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
